ai-service/trained_models/embedding_model.pth filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
dog-ai-agent\ai-service\breed\trained_models\model_1.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
dog-ai-agent\ai-service\breed\trained_models\efficientnetb0_phase2.keras filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text